<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>






<%# <p style="color green"> <%= notice %>
<%# </p> %>

<%# <h1>Dumpsters</h1> %>

<%# <div id="dumpsters">
  <% @dumpsters.each do |dumpster| %>
  <%# <%= render dumpster %>
  <%# <p>
    <%= dumpster %>
  <%# </p> %>
  <%# <% end %>
<%# </div> %>

<%# <%= link_to "New dumpster", dumpster_path %>

<%# <%= @markers %>
