<div class="container-waste-index">

  <div class="search-bar">
    <%= form_with url: wastes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-text",
        placeholder: "trouver un produit"
      %>
      <%= image_submit_tag "loupe.png", class: "btn btn-search" %>
    <% end %>
  </div>

  <div class="row justify-content-center">
      <% @wastes.each do |waste| %>

            <div class="card-waste">
              <div>
                <%= link_to waste_path(waste) do %>
                  <h2><%= waste.name %></h2>

                  <div class="wastes-elements">
                    <% waste.elements.each do |element| %>

                      <div class="waste-element">

                        <div class="element-name">
                          <%= element.name %>
                        </div>

                        <div class="element-category-name
                          <% case element.category.name
                          when "Bac jaune" %>
                            bac-jaune
                          <% when "Bac bleu" %>
                            bac-bleu
                          <% when "Bac blanc" %>
                            bac-blanc
                          <% when "Bac marron" %>
                            bac-marron
                          <% when "Bac gris" %>
                            bac-gris
                          <% end %>
                        ">
                          <%= image_tag("trash.png") %>
                          <%= element.category.name %>
                        </div>

                      </div>
                    <% end %>

                  </div>

                <% end %>
              </div>

              <div class="bookmarks">

                <% if waste.users.include?(current_user) %>
                  <%= link_to waste_bookmark_path(waste,Bookmark.where(waste: waste, user: current_user).first), data: {turbo_method: :delete} do %>
                    <div class="bookmark-full">
                      <%= image_tag("bookmark_full.png") %>
                    </div>
                  <% end %>
                <% else  %>
                  <%= link_to waste_bookmarks_path(waste), data: {turbo_method: :post} do %>
                    <div class="bookmark">
                      <%= image_tag("bookmark.png") %>
                    </div>
                  <% end %>
                <% end %>

                  <%#= button_to 'SAVE', saving_bookmark_waste_path(waste.id), data: { turbo: false } %>
                  <%#= link_to 'SAVE', saving_bookmark_waste_path(waste.id), data: { turbo: false, method: :post } %>
                    <%# SAVE %>
                  <%# end %>







              </div>

            </div>

      <% end %>
    </div>
</div>
