

<h1><%= @waste.name %></h1>
<h2><%= @waste.description %></h2>
<%# <h2><%= @waste.elements %></h2>
<%# <h2><%= @waste.elements(category_id) %></h2>

<%# <% @waste.elements.each do |element| %>
  <%# <%= element.name %>
<%# <% end %>

<%# <h3>user voit quand est son prochain ramassage suivant la cat du bac montré</h3>
<h3>user voit la map avec les dumpsters (de tout) de son address</h3> %>
