<%# mettre BUTTON pour user vers ses fav (index bookmarks) %>

<div class="navbar">

  <div class="container-nav">
    <%= link_to "#" do %>
      <img src= "<%= image_path('placeholder.png') %>" />
    <% end %>
  </div>

  <div class="container-nav">
    <%= link_to dashboard_path do %>
      <img src= "<%= image_path('user.png') %>" />
    <% end %>
  </div>

  <div class="container-nav">
    <%= link_to wastes_path do %>
      <img src= "<%= image_path('loupe.png') %>" />
    <% end %>
  </div>

</div>
