<div class="navbar">

  <div class="container-nav">
    <%= link_to dumpsters_path do %>
      <img src= "<%= image_path('placeholder.png') %>" />
    <% end %>
  </div>

  <div class="container-nav">
    <%= link_to dashboard_path do %>
      <img src= "<%= image_path('user.png') %>" />
    <% end %>
  </div>

  <div class="container-nav">
    <%= link_to wastes_path do %>
      <img src= "<%= image_path('loupe.png') %>" />
    <% end %>
  </div>

    <% if user_signed_in? %>
      <div class="container-nav">
        <div id="bookmark-width">
          <%= link_to user_bookmarks_path(current_user) do %>
            <img src= "<%= image_path('bookmark.png') %>" />
          <% end %>
        </div>
      </div>
    <% end %>

</div>
