<div class="container-dashboard">
<br>

  <h4>Bonjour <%= @user.first_name %></h4>

<br>

  <h4>tu peux créer ton produit ici</h4>

  <%= simple_form_for(wastes_url) do |f| %>
    <%= f.input :name %>
    <%= f.input :description%>
    <%= f.submit "enregistrer" %>
  <% end %>

<br>
<br>

  <h4>tu peux créer tes bacs ici</h4>

  <%= simple_form_for(new_element_path) do |f| %>
    <%= f.input :name %>
    <%= f.input :category_id%>
    <%= f.submit "enregistrer" %>
  <% end %>

<br>
<br>

  <div class="btn-home">
    <button type="button" class="btn-outline-success">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </button>
  </div>

</div>
