<!DOCTYPE html>
<html>
  <head>
    <title>Recycle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if params[:action] != "home" %>
        <div class="logo">
          <div class="recycle text-center">
            <h1>RECYCLE</h1>
            <%# cycle pas même couleur que re, a séparer, comment coller après? %>
          </div>
        </div>
    <% end %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
